/livro/AAPDIR
/livro/*.png
/livro/*.zip
/livro/*.chunked
/livro/*.pdf
/livro/*.txt
/livro/slides.html
/livro/livro.xml
/livro/livro.tex
*.pdf
*.zip
releases
originais
materiais
/livro/capitulos/code/estruturas-de-controle/break_interrompe
/livro/capitulos/code/estruturas-de-controle/comparaab
/livro/capitulos/code/estruturas-de-controle/continue_desvio
/livro/capitulos/code/estruturas-de-controle/do_while
/livro/capitulos/code/estruturas-de-controle/entre10e20
/livro/capitulos/code/estruturas-de-controle/for_cont
/livro/capitulos/code/estruturas-de-controle/for_cont_decremento
/livro/capitulos/code/estruturas-de-controle/if5
/livro/capitulos/code/estruturas-de-controle/laco_infinito
/livro/capitulos/code/estruturas-de-controle/menor_deles
/livro/capitulos/code/estruturas-de-controle/menor_deles_resposta
/livro/capitulos/code/estruturas-de-controle/menorq20
/livro/capitulos/code/estruturas-de-controle/mostrado10vezes
/livro/capitulos/code/estruturas-de-controle/nota7
/livro/capitulos/code/estruturas-de-controle/notas_alunos
/livro/capitulos/code/estruturas-de-controle/semana
/livro/capitulos/code/estruturas-de-controle/whilenota
/livro/capitulos/code/funcoes/equacao
/livro/capitulos/code/funcoes/equacao2
/livro/capitulos/code/funcoes/exercicio4
/livro/capitulos/code/funcoes/fatorial
/livro/capitulos/code/funcoes/fatorial2
/livro/capitulos/code/funcoes/media_globais
/livro/capitulos/code/funcoes/media_param
/livro/capitulos/code/funcoes/media_param2
/livro/capitulos/code/funcoes/media_proc
/livro/capitulos/code/funcoes/media_sem_proc
/livro/capitulos/code/funcoes/retorno_func
/livro/capitulos/code/funcoes/retorno_proc
/livro/capitulos/code/funcoes/situacao
/livro/capitulos/code/funcoes/situacao_prot
/livro/capitulos/code/funcoes/sombra
/livro/capitulos/code/funcoes/troca
/livro/capitulos/code/funcoes/troca_glob
/livro/capitulos/code/funcoes/troca_main
/livro/capitulos/code/funcoes/troca_ref
/livro/capitulos/code/cap4/manipulacao_string
/livro/capitulos/code/cap4/matriz_populando
/livro/capitulos/code/cap4/resolvido4-2
